:root {
    --dark_bg:white;
    --dark_bgLight: #1C1E27;
    --dark_primary:#854CE6;
    --dark_text_primary:black;
    --dark_text_secondary:#b1b2b3;
    --dark_card:#171721;
    --dark_card_light: #63637b;
    --dark_button:#854CE6;
    --dark_white:#FFFFFF;
    --dark_black:#00000;
    --light_bg:#FFFFFF;
    --light_bgLight:#f0f0f0;
    --light_primary:#be1adb;
    --light_text_primary:#111111;
    --light_text_secondary:#48494a;
    --light_card:#FFFFFF;
    --light_button:#5c5b5b;
  /* Add other theme variables here */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

